<template name="cards">

  <h5 class="right-align">Score: {{score}}</h5>

  

  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <div class="row">


            <div class="input-field col s12">
              <h2 class="">
                {{alpha}} + {{beta}} =  
              </h2>
            </div>


            <div class="input-field col s12">
              <form class="ans_submit">
                <input type="text" name="text" placeholder="Type your answer here" />
                <label class="active" for="first_name2">Answer and press ENTER</label>
              </form>
            </div>

          </div>
        </div>

         
        <div class="card-action">
          <div class="center-align">{{answer}}</div>
          <!-- <button class="click waves-effect waves-light btn-large" style="width:100%;">Next</button>-->
        </div> 
      </div>
    </div>
  </div>




   

    


</template>