.alpha{
	background-color: #ccc;
	height: 350px;
}

.beta{
	background-color: #eee;
	height: 350px;
}


.overlayIMG{
	display: block;
	width: 100%;
	height: 100%;
	background-color: red;
	position: relative;
}